@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");

* {
  padding: 0%;
}
body {
  background-color: #21325e;
}
.App {
  display: flex;
  justify-content: center;
}
.App h2 {
  font-family: "Oleo Script Swash Caps", cursive, sans-serif;
}
.App span {
  color: #ebd8c3;
  font-size: 4rem;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logout {
  margin-top: 20px;
  padding: 10px 1.9rem;
  align-self: center;
  background-color: #f4bbbb;
  outline: none;
  border: none;
  color: #1a132f;
  font-weight: 800;
  border-radius: 10px;
  align-self: end;
}
